{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label" for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label" for="content" >내용</label>
            <textarea class="form-control" rows="3" id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles" class="btn btn-outline-secondary">Back</a>
</form>

{{>layouts/footer}}